<div *ngIf="state==='ready'" class="content" ngClass.xs="content-mobile">
  <div fxLayout.gt-xs="row wrap" fxLayout.xs="column"
       fxLayoutAlign.gt-xs="flex-start" fxLayoutGap="1em grid"
       ngClass.lg="dashboard-lg" ngClass.md="dashboard-md" ngClass.sm="dashboard-sm"
       ngClass.xl="dashboard-xl"
  >
    <app-dashboard-playlist *ngFor="let playlist of playlists" [data]="playlist" fxFlex="25%"
                            fxFlex.lg="25%" fxFlex.md="25%" fxFlex.sm="50%" fxFlex.xl="16.66%"
                            fxFlex.xs="100%" fxFlexAlign.xs="center"></app-dashboard-playlist>
  </div>
</div>
<div *ngIf="state==='loading'" ngClass="info-message">
  <span class="loader-large"></span>
</div>
<div *ngIf="state==='empty'" ngClass="info-message">
  <h3>You don't have any playlists yet. <a [routerLink]="'/create'">Create a playlist</a>
    now!
  </h3>
</div>
<div *ngIf="state==='error'" ngClass="info-message">
  <h3>Something went wrong! Maybe try again later.</h3>
</div>

