<div class="page">
  <div class="page-content">
    <h1>Learn more</h1>
    <hr>
    <div>
      <div>
        <h2>What is Mashup</h2>
        <p>
          Mashup integrates with Spotify to empower you to effortlessly create dynamically refreshing playlists by simply entering the names of multiple artists.
          This concept originated from my desire to explore web development a couple of years ago and has since transformed into Mashup.
        </p>
        <blockquote>
          <p>
            <b>Tip:</b>
            Mashup remembers playlists by their IDs, allowing you to modify titles, descriptions and pictures of generated playlists without any restrictions.
          </p>
        </blockquote>
      </div>
      <hr>
      <div>
        <h2>How does Mashup work</h2>
        <p>
          The process of how Mashup works is as follows:
        </p>
        <ol>
          <li>
            <p>
              <b>Artist selection:</b>
              To start, you enter the names of the artists you're interested in and specify the number of songs you want for each artist.
            </p>
          </li>
          <li>
            <p>
              <b>Song retrieval:</b>
              Mashup retrieves songs for each artist from their "This Is &lt;artist&gt;" playlist.
              The popularity of songs is taken into account which means that popular songs have a higher chance of being included in the generated playlist.
            </p>
          </li>
          <li>
            <p>
              <b>Playlist generation:</b>
              A new playlist is created on your account by Mashup that includes the retrieved songs.
            </p>
          </li>
          <li>
            <p>
              <b>Dynamic updates:</b>
              Mashup enables automatic and regular additions and removals of songs from the generated playlists to ensure that the playlists remain up to date at all times.
            </p>
          </li>
        </ol>
      </div>
    </div>
    <hr>
    <h2>Contribute</h2>
    <p>
      If you have ideas on how to enhance Mashup or encounter any issues, please don't hesitate to reach out.
      The most effective way to share a feature idea is by submitting a <a href="https://github.com/sudmike/spotify-apps/issues">Github Issue</a>.
      Additionally, you can contact me directly at <a href="mailto:limettecorgi42+mashup@gmail.com">limettecorgi42+mashup@gmail.com</a>.
      I look forward to hearing from you!
    </p>
  </div>
</div>
