<div class="container">
  <h2 class="pane-header">Number of Songs</h2>
  <mat-tab-group [(selectedIndex)]="tabType" dynamicHeight>
    <mat-tab label="Equal">
      <div [ngClass]="{equal: true}">
        <mat-label>Songs per artist</mat-label>
        <mat-slider
          (change)="onEqualSliderChange()"
          [(ngModel)]="songsPerArtistEqual"
          aria-label="units"
          color="primary"
          step="5"
          thumbLabel
          tickInterval="4">
        </mat-slider>
      </div>
    </mat-tab>
    <mat-tab label="Per artist">
      <table *ngIf="artists.length > 0" [dataSource]="artists" mat-table>
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell>Name</th>
          <td *matCellDef="let data" mat-cell>
            {{data.name}}
          </td>
        </ng-container>
        <ng-container matColumnDef="songs">
          <th *matHeaderCellDef mat-header-cell>Nr of songs</th>
          <td *matCellDef="let data" mat-cell>
            <mat-slider
              [(ngModel)]="data.number"
              aria-label="units"
              color="primary"
              step="5"
              thumbLabel
              tickInterval="4">
            </mat-slider>
          </td>
        </ng-container>
        <tr *matHeaderRowDef="['name', 'songs']" mat-header-row></tr>
        <tr *matRowDef="let row; columns: ['name', 'songs'];" mat-row></tr>
      </table>
      <p *ngIf="artists.length === 0" class="no-artist">Add some artists :)</p>
    </mat-tab>
  </mat-tab-group>
  <h2 class="total">Total number of songs: {{calculateTotal()}}</h2>
</div>
