div.container {
  margin: 0;
  padding: 0 1em;
}

h2.pane-header {
  margin: 0;
  padding-right: 0.6em;
  font-size: large;
}

div.equal {
  margin-top: 1.5em;
}

div.equal mat-slider {
  width: 40%;
  margin-left: 0.6em;
}

table.mat-table {
  display: table;
  width: 100%;
}

.mat-column-name {
  min-width: 70%;
}

.mat-column-remove {
  width: 25%;
}

h2.total {
  margin: 2em 0 0.5em 0;
  font-size: larger;
}

p.no-artist {
  text-align: center;
  padding-top: 2em;
}
