<div fxLayout.gt-md="row" fxLayout.xs="column" fxLayoutAlign.gt-md="space-between"
     fxLayoutGap="1em grid" ngClass.lt-lg="mobile">
  <mat-card class="artist-table-card" fxFlex.gt-md="60%" fxFlex.lt-lg="100%">
    <form>
      <mat-form-field>
        <mat-label>Add artist</mat-label>
        <input (keyup.enter)="onSearchArtist()" [(ngModel)]="searchArtist"
               [ngModelOptions]="{standalone: true}" autocomplete="off" matInput
               type="text">
        <button [class.spinner]="searchLoading" [disabled]="searchLoading" aria-label="Add"
                mat-icon-button
                matSuffix>
          <mat-icon>add</mat-icon>
        </button>
      </mat-form-field>
    </form>
    <app-artist-pane (artistChange)="onArtistChange($event)" [artists]="artists"
                     class="scrollable-content"></app-artist-pane>
  </mat-card>

  <div fxFlex.gt-md="40%" fxFlex.lt-lg="100%" ngClass.lt-lg="mobile">
    <mat-card>
      <app-config-pane [active]="active" [refreshFrequency]="frequency"></app-config-pane>
    </mat-card>
    <mat-card>
      <app-song-number-pane [artists]="artists"></app-song-number-pane>
    </mat-card>
  </div>

</div>
