mat-card {
  margin: 2em;
  overflow-x: hidden;
}

mat-card.artist-table-card {
  min-height: 25em;
}

mat-form-field {
  padding: 0.5em 1.5em 0 1.5em;
  width: 80%;
  max-width: 20em;
}

div {
  margin: 0 !important;
  padding: 0 !important;
}

div.mobile mat-form-field {
  padding-top: 0;
}

div.mobile mat-card {
  margin: 1.5em 0.5em;
  padding: 1em 0 0 0 !important;
}

div.mobile mat-card.artist-table-card {
  margin-bottom: 0;
}

app-artist-pane.scrollable-content {
  overflow: auto;
  display: flex;
}
