<div class="container" ngClass.lt-md="mobile">
  <span class="pane-header">
    <h2>Refresh</h2>
    <mat-icon
      #tooltip="matTooltip"
      (click)="triggerTooltip(tooltip)"
      matTooltip="Decide if this playlist should be automatically updated on a regular basis"
      matTooltipPosition="above"
    >
      info
    </mat-icon>
  </span>
  <mat-checkbox [(ngModel)]="active" [color]="'primary'"></mat-checkbox>
  <div>
    <form>
      Every
      <mat-form-field>
        <input [(ngModel)]="refreshFrequency" [defaultValue]="1"
               [ngModelOptions]="{standalone: true}" inputmode="numeric" matInput
               type="number">
      </mat-form-field>
      <mat-form-field>
        <select [(ngModel)]="refreshInterval" [ngModelOptions]="{standalone: true}" matNativeControl
                required>
          <option value="day">{{+refreshFrequency === 1 ? 'Day' : 'Days'}}</option>
          <option value="week">{{+refreshFrequency === 1 ? 'Week' : 'Weeks'}}</option>
        </select>
      </mat-form-field>
    </form>
  </div>
</div>
