mat-form-field {
  font-size: larger;
}

mat-form-field.frequency {
  margin: 2em 2em 0 2em;
}

mat-form-field.equal {
  margin: 1.5em 0;
}

mat-form-field.songs {
  font-size: initial;
  margin: 0;
  max-width: 5em
}


mat-card-footer {
  margin: 1em 0;
}

table.mat-table {
  display: table;
  width: 100%;
}

.mat-column-name {
  min-width: 75%;
}

.mat-column-remove {
  width: 20%;
}
