<table #table [dataSource]="artists" mat-table>
  <ng-container matColumnDef="order">
    <th *matHeaderCellDef mat-header-cell>Order</th>
    <td *matCellDef="let i = index" mat-cell>
      <button (click)="onMoveArtist(i, i - 1)" aria-label="move up"
              mat-icon-button>
        <mat-icon>arrow_upward</mat-icon>
      </button>
      <br>
      <button (click)="onMoveArtist(i, i + 1)" aria-label="move down"
              mat-icon-button>
        <mat-icon>arrow_downward</mat-icon>
      </button>
  </ng-container>

  <ng-container matColumnDef="image">
    <th *matHeaderCellDef mat-header-cell>Picture</th>
    <td *matCellDef="let artist" mat-cell><img *ngIf="artist.images[2]"
                                               alt="{{artist.name}} picture"
                                               src="{{artist.images[2]}}"></td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell>Name</th>
    <td *matCellDef="let artist" mat-cell>
      {{artist.name}}
    </td>
  </ng-container>
  <ng-container matColumnDef="remove">
    <th *matHeaderCellDef mat-header-cell>Remove</th>
    <td *matCellDef="let artist" mat-cell>
      <button (click)="onRemoveArtist(artist.id)" aria-label="remove artist" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="['order', 'image', 'name', 'remove']" mat-header-row></tr>
  <tr *matRowDef="let row; columns: ['order', 'image', 'name', 'remove'];" mat-row></tr>
</table>
