<mat-card>
  <img *ngIf="data.playlist.images[0]" [routerLink]="'/playlist/' + data.id" alt="{{data.playlist.name}}"
       mat-card-image
       src="{{data.playlist.images[0]}}">
  <mat-card-title [routerLink]="'/playlist/' + data.id">{{data.playlist.name}}</mat-card-title>
  <mat-card-actions>
    <button (click)="regeneratePlaylist()" [class.spinner]="regenerateLoading" [disabled]="regenerateLoading"
            class="starry"
            color="accent"
            mat-fab>
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
