<mat-card>
  <a [routerLink]="'/playlist/' + data.id">
    <img *ngIf="data.playlist.images[0]"
         alt="{{data.playlist.name}}"
         mat-card-image
         src="{{data.playlist.images[0]}}">
  </a>
  <a [routerLink]="'/playlist/' + data.id">
    <mat-card-title>{{data.playlist.name}}</mat-card-title>
  </a>
  <mat-card-actions>
    <button (click)="regeneratePlaylist()" [class.spinner]="regenerateLoading"
            [disabled]="regenerateLoading"
            class="starry"
            color="accent"
            mat-fab>
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
