<div class="mat-typography app-frame mat-app-background">
  <div fxLayout.gt-md="row wrap" fxLayout.lt-lg="column" fxLayoutAlign.gt-md="space-between"
       fxLayoutGap="1em grid"
       style="height: 100%"
  >
    <div [ngClass.gt-md]="{'hor-div-one': true}" [ngClass.lt-lg]="{'vert-div-one': true}"
         fxFlex.gt-md="50%">
      <h1>Stop worrying about stale playlists!</h1>
      <br>
      <h2>Create Spotify playlists that stay up to date with your favorite artists now.</h2> <br>
      <button [routerLink]="'/dashboard'" mat-raised-button>Let's go</button>
    </div>
    <div [ngClass.gt-md]="{'hor-div-two': true}" [ngClass.lt-lg]="{'vert-div-two': true}"
         fxFlex.gt-md="50%"></div>
  </div>
</div>
